@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    text-decoration: none;
}
i {
    font-size: 24px;
}
input[type=text] {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 20px;
    margin-bottom: 16px;
    color: #434343;
    font-size: 14px;
}
input::placeholder {
    color: #BEBEBE;
   ;
}
input:focus::placeholder {
    color: #434343;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav h1 {
    color: white;
    font-weight: 700;
    font-size: 22px;
    align-items: center;
    padding: 18px 79px;
    transition: 0.3s;
}
.nav h1:hover {
    color: #01813F;
}
.nav-links {
    display: flex;
    align-items: center;
    padding-right: 79px;
}
.nav-links img {
    padding-right: 27px;
}
.nav-links p {
    color: white;
    font-size: 14px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}
.nav-links a:hover {
    color: #01813F;
}
.mail-svg, .calendar-svg, .nav-svg {
    width: 21px;
    height: 22px;
    fill: white;
    padding-right: 27px;
    transition: 0.2s;
}
.mail-svg:hover {
    fill: #01813F;
}
.calendar-svg:hover {
    fill: #01813F;
}
.nav-svg:hover {
    fill: #01813F;
}
.spliter{
    position: relative;
    padding-right: 27px;
}
.spliter::after {
    content: '';
    height: 100% ;
    border-left: solid 1px #FFFFFFE5;
    position: absolute;
    left: 45px;
    top: 0;
    z-index: 4;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
}
.form {
    display: flex;
    flex-direction: column;
    width: 444px;
    background: white;
    box-sizing: border-box;
    padding: 31px 60px;
    color: #434343;
    position: relative;
}
.form-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
}
.form-title-login {
    transition: 0.1s;
}
.form-title-login:hover {
    color: #01813F;
    text-decoration: underline;
}
.form-title::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 0;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: #3CB878;
}
.form-title p {
    font-size: 20px;
}
.form-title a {
    font-size: 14px;
    color: #3CB878;
}
.form-social {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: white;
    padding-bottom: 31px;
}
.facebook-btn, .google-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 49%;
    border-radius: 4px;
    padding: 12px 22px 12px 16px;
}
.facebook-btn {
    background: #305DB8;
    transition: 0.3s;
}
.facebook-btn:hover {
    background: #0A162F;
}
.google-btn {
    background: #DF4A32;
}
.google-btn:hover {
    background: #AB1F09;
    transition: 0.3s;
}
.divide {
    position: relative;
    text-align: center;
    margin-bottom: 13px;
}
.divide p {
    background-color: white;
    color: #848484;
    width: auto;
    display: inline-block;
    z-index: 3;
    padding: 0 5px;
    position: relative;
    ;
}
.divide::after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #F2F2F2;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}
.form-data:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
    color: #434343;
}
.agreement {
    font-size: 14px;
}
.agreement span {
    padding-left: 4px;
}
.agreement-green {
    margin-left: 5px;
    color: #3CB878;
}
.agreement-green:hover {
    color: #01813F;
    border-bottom: 1px #01813F solid;
}
.agreement input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.agreement label {
    position: relative;
    cursor: pointer;
}
.agreement label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #F2F2F2;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}
.agreement input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #3CB878;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.sign-up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-top: 20px;
    transition: 0.3s;
}
.sign-up-btn:hover {
    background: #01813F;
}


